@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3 class="page-title ng-scope">Person Search
</h3>
<div class="page-bar ng-scope">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a href="#">Home</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="@Url.Action("Index", "Home")">Person Search</a>
        </li>
    </ul>
</div>

<form role="form" id="search-form">

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Name</label>
                <input type="text" name="name" id="txtName" class="form-control">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Sex</label>
                <div class="mt-radio-inline">
                    <label class="mt-radio">
                        <input type="radio" name="rbtnSex" value="Male" checked="">
                        Male<span></span>
                    </label>
                    <label class="mt-radio">
                        <input type="radio" name="rbtnSex" value="Female">
                        Female<span></span>
                    </label>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Nationality</label>
                <input type="text" name="nationality" id="txtNationality" class="form-control">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label">Age Range (years)</label>
                <input type="text" class="form-control" id="txtAgeMin" name="ageMin" placeholder="Min" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label">&nbsp;</label>
                <input type="text" class="form-control" id="txtAgeMax" name="ageMax" placeholder="Max" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label">Height Range (cms)</label>
                <input type="text" class="form-control" id="txtHeightMin" name="heightMin" placeholder="Min" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label">&nbsp;</label>
                <input type="text" class="form-control" id="txtHeightMax" name="heightMax" placeholder="Max" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label">Weight Range (kg)</label>
                <input type="text" class="form-control" id="txtWeightMin" name="weightMin" placeholder="Min" />
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="control-label">&nbsp;</label>
                <input type="text" class="form-control" id="txtWeightMax" name="weightMax" placeholder="Max" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Maximum number of results to produce</label>
                <input type="text" name="maxResult" id="txtMaxResult" class="form-control">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Recipient's Email address</label>
                <input type="text" name="recipientEmail" id="txtRecipientEmail" class="form-control">
            </div>
        </div>
    </div>

    <div class="row form">
        <div class="col-md-12">
            <div class="form-actions">
                <button type="button" onclick="person.search()" class="btn blue">Search</button>
            </div>
        </div>
    </div>
</form>
<script>

    var person = {

        init: function () {

            $("#search-form").validate({
                onError: function () {
                    $('.input-group').find('.help-block.form-error').each(function () {
                        $(this).closest('.form-group').append($(this));
                    });
                },
                rules: {
                    recipientEmail: {
                        required: true,
                        email: true,
                    },
                    maxResult: {
                        required: true,
                        digits: true
                    },
                    ageMin: {
                        digits: true
                    },
                    ageMax: {
                        digits: true,
                        greaterThan: '#txtAgeMin'
                    },

                    heightMin: {
                        digits: true
                    },
                    heightMax: {
                        digits: true,
                        greaterThan: '#txtHeightMin'
                    },

                    weightMin: {
                        digits: true
                    },
                    weightMax: {
                        digits: true,
                        greaterThan: '#txtWeightMin'
                    }
                },
                messages: {

                }
            });

            $.validator.addMethod("greaterThan", function (value, element, param) {
                var $min = $(param);
                if (value == "" || $min.val() == "") {
                    return true;
                }
                if (this.settings.onfocusout) {
                    $min.off(".validate-greaterThan").on("blur.validate-greaterThan", function () {
                        $(element).valid();
                    });
                }
                return parseInt(value) > parseInt($min.val());
            }, "Max must be greater than min");

        },
        search: function () {

            var isFormValid = $("#search-form").valid();

            if (isFormValid) {

                var model = {
                    Name: $("#txtName").val(),
                    Sex: $("input[type=radio][name=rbtnSex]:checked").val(),
                    Nationality: $("#txtNationality").val(),

                    AgeMin: $("#txtAgeMin").val() == "" ? 0 : $("#txtAgeMin").val(),
                    AgeMax: $("#txtAgeMax").val() == "" ? 0 : $("#txtAgeMax").val(),

                    HeightMin: $("#txtHeightMin").val() == "" ? 0 : $("#txtHeightMin").val(),
                    HeightMax: $("#txtHeightMax").val() == "" ? 0 : $("#txtHeightMax").val(),

                    WeightMin: $("#txtWeightMin").val() == "" ? 0 : $("#txtWeightMin").val(),
                    WeightMax: $("#txtWeightMax").val() == "" ? 0 : $("#txtWeightMax").val(),

                    MaxResult: $("#txtMaxResult").val(),
                    RecipientEmail: $("#txtRecipientEmail").val(),
                }

                $.ajax({
                    url: "/Home/Search",
                    type: "POST",
                    data: JSON.stringify({ model: model }),
                    contentType: 'application/json',
                    cache: false,
                    success: function (result) {

                        if (result) {
                            toastr.success("Email sent successfully!");
                        }
                        else {
                            toastr.error("Server error has occured.");
                        }
                    },
                    error: function () {
                        toastr.error("Ajax Error")
                    },
                })
            }



        }
    }

    $(function () {
        person.init();
    })

</script>


